/**
  * @name CoreDark+
  * @author CoreKilla#6661
  * @version Dark+1
  * @description Highly customized dark and purple theme for Discord with an edit
  * @source https://github.com/Dieadox/BetterDiscordStuff
*/

@import url('https://dieadox.github.io/BetterDiscordStuff/Themes/Dark+/DarkPlusEdit.theme.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #7dfaf6;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png)
}

